[2021-02-26 09:14] iTzBlack007 opened #2 "Build failed :("
ERROR  Failed to compile with 2 errors                               2:43:34 pm

 error  in ./src/App.vue?vue&type=style&index=0&lang=scss&

TypeError: Object.entries(...).flatMap is not a function
    at Array.forEach (<anonymous>)
    at new Promise (<anonymous>)

 @ ./src/App.vue?vue&type=style&index=0&lang=scss& 1:0-480 1:0-480
 @ ./src/App.vue
 @ ./src/main.js
 @ multi ./src/main.js

 error

[2021-02-26 09:22] deepjyoti30 commented on #2
@iTzBlack007 Seems like an issue with `Tailwind`. Did you install the dependencies before building?

Also, take a look at this https://tailwindcss.com/docs/installation#post-css-7-compatibility-build . Might be some issue because of `PostCSS`. I never faced this issue with my builds though.

[2021-02-26 09:24] iTzBlack007 commented on #2
Ok nvm dockerized builds are perfect !

[2021-02-26 09:24] #2 closed

[2021-02-26 13:46] TechnologyClassroom opened #3 "Missing LICENSE"
I see you have no LICENSE file for this project.  The default is copyright.

I would suggest releasing the code under the AGPL-3.0-or-later license so that others are encouraged to contribute changes back to your project.

[2021-02-26 14:56] deepjyoti30 opened #4 "Going back to search song appends new videoId to URL instead of replacing."
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [ ] Locally
- [x] On the official page

## Description

Once the song is selected after searching, it takes the user to the next page. If the user comes back to the song search page and selects a different video, the `videoId` is appended to t

[2021-02-27 05:59] deepjyoti30 commented on #3
@TechnologyClassroom Thanks for pointing that out. I just missed adding the License. I usually go for `MIT` for all my projects so I'm doing the same for this one as well!

Thanks again for raising the issue!

[2021-02-27 06:09] #4 closed

[2021-02-27 16:40] #3 closed

[2021-02-27 16:40] deepjyoti30 commented on #3
Fixed in 35fdafc5d1545cdb78a8656f6aa4a848c42bcb81

[2021-03-03 07:03] petercockroach opened #6 "Can't find songs when using another device, server running docker-compose"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [x] Locally
- [ ] On the official page

## Browser Details

- Name: Brave / Safari
- Version: n/a, doesn't seem browser specific

## Console Log

[code]
Access to fetch at 'https://ytmdlapi.herokuapp.com/search?q=foobar' from origin 'http://19

[2021-03-04 04:33] deepjyoti30 commented on #6
@petercockroach Thanks for reporting the issue. This is just a backend issue. So the API does not allow requests from all domains, however I had whitelisted the `localhost:8082` domain but I did not whitelist the `192.168.*.*` domain.

Thus, this means the webapp doesn't work on devices that try to run it through the local network. I will attempt to add a fix for this!

[2021-03-04 04:55] deepjyoti30 commented on #6
@petercockroach Can you try now. It should be fixed.

[2021-03-04 05:20] petercockroach commented on #6
I can confirm. Thank you!

[2021-03-04 05:20] #6 closed

[2021-03-05 00:06] Eviepayne opened #7 "Queries can't have spaces."
I haven't peeked at the source but I suspect the query isn't sanitized. Should parse spaces to _

![image](https://user-images.githubusercontent.com/59463208/110047719-60b59000-7d1c-11eb-9e37-643500b78491.png)

![image](https://user-images.githubusercontent.com/59463208/110047773-79be4100-7d1c-11eb-920c-816563a9f05e.png)

[2021-03-06 04:20] petercockroach opened #8 "Downloads never start"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [x] Locally
- [x] On the official page

## Browser Details

- Name: Safari and Brave
- Version: Safari Version 14.1 (16611.1.18.1.2)

## Console Log

No obvious errors

## Description

Serach for anything. When clicking the result, it either g

[2021-03-07 07:55] rexdarelandig opened #9 "Error when searching a song"
# Bug report

Seems to be working when you released it. But checking it now is not working.

![image](https://user-images.githubusercontent.com/57781286/110233208-71087d80-7f5d-11eb-8a85-e732ec3f2a2a.png)

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [ ] Locally
- [x] On the official page

## Browser

[2021-03-08 06:53] deepjyoti30 commented on #9
@rexdarelandig It seems like you're running the container locally??

Looking at the requests it seems like the it's an outdated package. I would suggest you to pull the latest container image and deploy it. Also, I just tested the official app and it worked totally fine!

[2021-03-08 06:55] deepjyoti30 commented on #8
@petercockroach That is the expected behaviour!? Once you click the search result it will work on the song and after that show you the download button.

Are you trying to say once the metadata is selected, it goes into and unending loop?

I just tested the official app and it worked totally well.!

[2021-03-08 06:57] deepjyoti30 commented on #7
@Eviepayne The spaces are parsed to `%20` automatically by VueJS. When the query is passed to the server, the API is able to parse the spaces as well.

I am not sure how you were able to get the first image above. Usually when you will enter a space in the query, it will be parsed to `%20`

[2021-03-08 06:59] petercockroach commented on #8
I get the "Getting the song ready for you" animation, then nothing happens (currently testing this on your official site). Yesterday, I was getting prompted with new unrelated search results but at no point does the download ever start.

[2021-03-08 08:16] deepjyoti30 commented on #8
@petercockroach I did test the official site the last I commented to you. I think there might be some issue but that's probably because the server is not able to handle so much load. I have currently deployed the API on heroku (had some credits and since my own server was blocked by YouTube) and it does work.

[2021-03-08 15:57] petercockroach commented on #8
FWIW, the issue occurs locally on my as well so the cause is something common between the official site and local deployment.

[2021-03-12 04:31] deepjyoti30 commented on #8
@petercockroach Yeah, the issue is not from the frontend. If it is occuring, it is from the backend.

However, it is very weird because everytime I use the app and track the logs, I see a proper response and everything works fine.

As I suspected, this might be happening due to too much requests on the server.

Also is the issue happening constantly with you? In all browsers as well?

[2021-03-13 00:47] petercockroach commented on #8
Occurs in Brave (Chrome) and Safari, and yes, constantly.

[2021-03-13 15:55] deepjyoti30 commented on #8
@petercockroach It is very weird. Can you consider trying to download in an incognito tab perhaps? That will help to know if the issue is because of some kind of local issue.

I just tried the app as I am writing this reply and it worked totally fine, no issues at all.

[2021-03-13 16:03] petercockroach commented on #8
I reproduced it on an entirely different device using cellular data which means it’s not the browser/cache, it’s not my OS, and it’s not my network

[2021-03-23 09:40] boxdox commented on #8
Hey @deepjyoti30, this seems to be CORS issue for me. You might wanna check your heroku app.

[code]

[2021-03-23 14:23] deepjyoti30 commented on #8
@boxdox Just took a look at the CORS issue. It is happening because the Heroku requests are timing out due to excessive memory use.

Thus when the API tries to download the song in the background, it is failing.

Regarding the service worker registration, I was not aware of the issue because I was loading the app in my browser which had the worker installed from before but I took a look at the app

[2021-03-23 15:02] boxdox commented on #8
Yes, the new service worker was broken for new users. Maybe you should host this on a VPS, if you get some funding.

[2021-03-23 15:16] deepjyoti30 commented on #8
@boxdox  I am already hosting the webapp on a VPS.

Both the API and the webapp were on my server. However, after the launch the API got so many hits that my severs IP was blocked by YouTube. This is why I moved to Heroku in order to fix the issue ASAP.

[2021-03-23 15:44] boxdox commented on #8
I can give you some suggestions:
1. Add a rotating proxy (still you have to beef up your servers for more clients)
2. Instead of downloading the video on the backend, just extract the download URL and send it to client for downloading (I have not tested if there will be any IP issues as download URL is based on IP), then you can use something like ffmpeg-wasm to convert it to audio on frontend.
3.

[2021-03-23 15:52] deepjyoti30 commented on #8
@boxdox Thanks for the suggestions.

1. Already considered this. Thought of installing a load balancer but that would obviously require more servers. When I was using my personal server to serve, I was using a 10$/month plan so 2/3 more servers would be twice/thrice of that. That is completely out of scope. The project doesn't earn in any way except donations. The donations (since release) won't e

[2021-03-23 16:13] boxdox commented on #8
Yeah makes sense, I didn't consider you have an existing API. So your only option is getting some sponsorship. Ads will still not cover the costs anytime soon. Maybe you can work on some user plans and limit guest users?

[2021-03-23 16:31] deepjyoti30 commented on #8
@boxdox I was considering that as an option too. For example, users that would pay a certain fee will get a certain number of allowed downloads in a month.

However, this would require some user login stuff and I totally don't want to force anyone to signup etc. I will though consider this.

I think it can be a valid plan! Only if users would sign up tho! :sweat_smile:

[2021-03-23 17:07] boxdox commented on #8
@deepjyoti30 you can have a guest tier, a free user tier and a paid tier. That way you don't force someone to signup, but if they like your service, they can register or maybe buy a plan.

[2021-04-06 09:21] ArmagdoGaming opened #12 "Stuck At "Getting the song ready for you...""
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues. (I did, but there were no logs there.)
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [ ] Locally
- [x] On the official page

## Browser Details

- Name: <Brave>
- Version: (Latest version.)

## Console Log

[ytmdl.deepjyoti30.dev-1617700747017.log](https://github.com/deepjyoti30/ytmdl-web

[2021-04-06 11:31] deepjyoti30 commented on #12
@ArmagdoGaming I took a look at the log files you provided. It seems like everything is fine.

I have some questions for you:

1. How many times have you faced this issue?
2. How long did you wait before you considered it "stuck". Sometimes, it is possible that it takes a bit of time to download since the backend gets a lot of requests at the same time.
3. How many songs have you tried downloading

[2021-04-06 18:58] ArmagdoGaming commented on #12
@deepjyoti30

A lot. I think the app has only worked once for me.

I give it an average of around 5-10 minutes. But, sometimes I wait for over 15 minutes,

A lot. Arount 15-25 songs. I have first heard about this through a relatively old Reddit post, around 2-3 months old, and have been trying to download songs on the site since then, but only managed to download from it once.

I did download a so

[2021-04-06 20:27] ArmagdoGaming commented on #12
Alright. Seems to be working now. Just took a while to get the song ready. Around 25-30 minutes, but it worked.

[2021-04-06 20:31] ArmagdoGaming commented on #12
Never mind. It got me to the download page, but now there is a new error, and in the console it has "If you can see this error, report it!"

[ytmdl.deepjyoti30.dev-1617741038544.log](https://github.com/deepjyoti30/ytmdl-web-v2/files/6267413/ytmdl.deepjyoti30.dev-1617741038544.log)

[2021-04-07 05:02] deepjyoti30 commented on #12
@ArmagdoGaming Looking at the logs it seems like the file was ready in the server however it didn't work while trying to download.

Even though the servers are not able to handle requests, it is very weird that it took them 25-30 mins. May I know how long the song was that you tried to download? Perhaps a `youtube` link of the song would suffice?

Regarding the logs, it just seems like the files a

[2021-04-07 05:20] ArmagdoGaming commented on #12
@deepjyoti30
Sure, the songs that I wanted to download were: 1:57 long; https://www.youtube.com/watch?v=sSQOLrUYLS8, 3:44; https://www.youtube.com/watch?v=kA9mwZ17uTw & 4:18; https://www.youtube.com/watch?v=pxF56x0I7lw. (These are the ones that I tried to download recently, I have tried other in the past, but they average at around 2:30 minutes, with a max of being 4 minutes long.)

As for my inte

[2021-04-07 05:47] deepjyoti30 commented on #12
@ArmagdoGaming I was trying with one of the songs you shared. It seems like there is no metadata for that, have you been trying to add metadata manually every time you came across this issue?

[2021-04-07 05:59] ArmagdoGaming commented on #12
Wow. Everything just...decided to work.
The two verified songs with metadata both downloaded, and the song without metadata did after adding manual metadata, as well.
I think that it was a problem because of all the request the server had to handle at that time.

Thank you for your help, and thank you for your time.

[2021-04-07 05:59] #12 closed

[2021-04-26 07:11] tanaybhardwaj24 opened #13 "Malicious Advertisements"
## I have no problems with the dev adding advertisements but when i opened ytmdl today i found an advertisement for the adware flow cannot believe the dev would do this

[2021-04-26 07:23] deepjyoti30 commented on #13
@tanaybhardwaj24 What adware are you talking about? You can check the source. The app just uses Googles adsense for ads.

No other ads are injected by me to the code. Perhaps you should report the ad to Google.

[2021-04-26 07:30] deepjyoti30 commented on #13
@tanaybhardwaj24 Are you talking about the following ad?

![screenshot-2021-04-26_12-55-44](https://user-images.githubusercontent.com/33604454/116044838-02a78800-a68f-11eb-8e83-ad47c40df61c.jpg)

If that's what you were aiming at, that ad was **NOT** added by me. It's Google who handles the ads that are shown in the app.

Moreover, I think the ads are shown based on peoples search history (as trac

[2021-04-27 04:05] tanaybhardwaj24 commented on #13
A -- Thanks for responding I now understand its not your fault

B-- Yes i got the same ad

btw, love your projects i use the startpage extension and ytmdl!!

[2021-04-27 06:13] deepjyoti30 commented on #13
@tanaybhardwaj24 Really appreciate that you disabled your adblock. If you had been an user of the app for a while, you might know that I really did not want to go for ads, however the server costs are just not bearable and the donations were very less so I had to finally add ads.

I will close the issue now!

[2021-04-27 06:13] #13 closed

[2021-05-27 11:11] aahnik opened #16 "Entering youtube url does not do anything"
I am running locally the latest docker image.

I did

[code]

[code]

The search bar claims that we can enter YouTube URLs.

![image](https://user-images.githubusercontent.com/66209958/119816694-a2646a00-bf0a-11eb-8cf2-ea95fbe84412.png)

I pasted the youtube URL, but nothing seems to happen. Just a red lining appears.

Here is a gif showing my usage.

![ytmdl-web](https://user-images.githubusercon

[2021-05-27 12:01] deepjyoti30 commented on #16
@aahnik It's just an issue with checking if the URL is an youtube one. Currently only URL's with `https://youtube.com/watch?v=<videoID>` are considered valid ones.

Also the red indicator on the search bar indicates that the URL is invalid. I think adding a more verbose message would be better!

[2021-05-27 12:22] aahnik commented on #16
I had thought that.

Now, I checked that `youtube.com` styled URLs work perfectly fine.

But I want to **request a feature** that please allow `youtu.be/<video id>` styled URLs. That the default that youtube gives when you copy the URL.

I believe it has to do with the validator that you use to check if the URL is valid.

[2021-05-27 12:24] deepjyoti30 commented on #16
@aahnik Yes. I would have already added it but I never came across that link. I'll make the changes!

[2021-05-27 12:34] aahnik opened #17 "Get metadata automatically when a youtube url is given"
When I enter the youtube url, i need to enter the name of the song in an extra step for metadata.

![image](https://user-images.githubusercontent.com/66209958/119826566-c8433c00-bf15-11eb-995b-ddb0711ea96d.png)

This can be automated. Fetching the metadata automatically would be great. There should be an option to edit the metadata after its fetched.

The name of the song can be fetched by - eithe

[2021-05-27 12:39] aahnik opened #18 "Playlist and batch downloads"
What I really love about this is the cool UI. I earlier used to use youtube-dl to download music like this

[code]

I could automate the download of the entire playlist, or a list of links, easily using some simple python script.

But since, I have used your product, I have fallen in love with it. There is no going back to old ways.

It would be great if you would support playlist URLs. Most peopl

[2021-05-27 12:41] deepjyoti30 commented on #17
@aahnik Regarding the confirmation, you can disable that in the settings.

For the automated part. I understand what you're trying to say. I have personally tried to implement that feature on the commandline version. However there is an issue. YouTube song titles mostly contain various other details about the song like name of artist or something similar.

Also, metadata providers expect a proper

[2021-05-27 12:45] deepjyoti30 commented on #18
@aahnik I know what you're talking about. I have already heard this feature request from so many users. You'd be happy to hear, I'm already working on adding playlist support in the next release of the webapp. It is still a WIP but it is coming along well.

I share my playlist development updated mostly [on my patreon](https://patreon.com/deepjyoti30) since it helps handle the server costs and use

[2021-05-27 12:53] aahnik commented on #17
Sorry for not exploring the settings and bothering you with silly questions.

This thought came to my mind. I honestly don't know any good answer to this problem.

The songs which are available in YouTube Music, have proper metadata.

See this (scroll down till the end part of video description)

![image](https://user-images.githubusercontent.com/66209958/119828506-dabe7500-bf17-11eb-8315-0c534618

[2021-05-27 12:54] aahnik commented on #18
I am so happy to hear this!

[2021-05-27 12:54] #18 closed

[2021-05-27 12:57] aahnik opened #19 "Just a question"
Why `v2` in the name of the repo? I believe this project will stay for a long time, and many newer releases will be released.

Just `ytmdl-web` sounds short and sweet. I am curious to know the reason behind your naming.

Never worry about renaming, because GitHub will automatically redirect people who come to the old URL of this repo.

[2021-05-27 13:01] deepjyoti30 commented on #17
@aahnik That YTMusic API actually looks pretty good. Just tested it with some songs and it is able to find lyrics for music videos as well.

I will try to add this to the commandline version. I guess on the next release, adding support for this can be expected.!

[2021-05-27 13:08] deepjyoti30 commented on #19
@aahnik Actually before this version was released, the first version repo had the name `ytmdl-web`. I thought it would be fun to add the `-v2` since this is like the `2.0` of the web version.

Perhaps later, I will rename this to just `ytmdl-web`!

Also you can use [discussions](https://github.com/deepjyoti30/ytmdl-web-v2/discussions) for questions like this. Cheers!

[2021-05-28 11:25] aha999 opened #21 "Support Playlist downloading online / on website"
# Feature Request

## Checklist

- [ x] I've searched the bugtracker for similar feature requests including closed ones.
- [ x] I will add the enhancement label to the issue.

## Description

This online tool at https://ytmdl.deepjyoti30.dev/ does not support downloading playlists (from youtube).

It would be really useful if we could download music playlists.

[2021-05-29 04:18] bradbus opened #22 "Song Doesn't Finish Loading (When "/" is in the Title)"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [ ] Locally
- [x] On the official page

## Browser Details

- Name: Google Chrome
- Version: Version 91.0.4472.77 (Official Build) (64-bit)

## Console Log

?

## Description

When attempting to download a particular song, "No Sugar Tonight /

[2021-06-05 16:30] deepjyoti30 commented on #17
@aahnik If you would like to get a taste of this feature, you can check out the latest commits on the commandline version of the app.

I just added support to get the song title using `ytmusic`. You can [check this commit](https://github.com/deepjyoti30/ytmdl/commit/eeb680bdb8d104165954968c283ac5468c4dbe7f). It is pretty neat when it works.

If you do try it out and find some issue, you can open a

[2021-06-11 08:09] deepjyoti30 commented on #22
@bradbus I will take a look about that. It is possible that the `/` might be causing an issue.

After you faced the issue with the song not downloading because of the `/`, did you try downloading some other song without the slash on it? If you did, then did it work?

[2021-06-11 12:04] bradbus commented on #22
Yes it did work with every other song I tried. One idea as to what it could be is the filename, since Windows doesn't allow the slash character, but it kind of doesn't make sense to me why it would be the problem and not let me download it in the first place, just an idea, though I imagine the problem is something else.

[2021-06-14 14:24] deepjyoti30 commented on #22
@bradbus The problem might be probably what you mentioned, the `/` in the title. I will add some fixes to make the / normalized from the URL.

[2021-06-24 03:57] aahnik opened #23 "How to jump into editing metadata manually ?"
# Question

## Checklist

- [x] I've looked through the README and the WiKi for something similar.
- [x] I tried talking with the developer on the Telegram support group.

## Question

First I enter the youtube URL, and then the page comes asking for name of song. But I am actually downloading an audiobook, and I don't want to search for metadata, I want to straight go into writing metadata on my

[2021-06-24 09:56] deepjyoti30 commented on #23
@aahnik As of now there's no option to directly go to that page but I think adding a setting for that won't be a bad idea.

We can have a setting that will automatically skip the search meta page and go to manual meta.

[2021-06-25 17:34] MDUnit64 opened #24 "Says your song is ready but i can't download the song, using webapp btw"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [x] Locally
- [x] On the official page

## Browser Details

- Name: <>
- Version: (If possible)

## Console Log

[code]

## Description

DESCRIBE THE ISSUE

## Expected Behaviour

SHARE WHAT THE EXPECTED BEHAVIOUR SHOULD BE

[2021-06-26 08:20] deepjyoti30 commented on #24
@MDUnit64 Thanks for reporting the issue. It is actually a known issue. This is similar to #12

[2021-06-27 18:20] fine2006 commented on #9
I have faced a similar issue running the git version locally:
[code]

[2021-06-28 02:57] deepjyoti30 commented on #9
@fine2006 As pointed by your logs, the git version is trying to access the API locally. If you want to test the app locally, try pulling the production branch.

Otherwise, you can just replace all the local networks calls to the API one.

Just find all the local calls by the following command:

[code]

There should be three places where this API Url is set. Just replace them with `https://ytmdl-ap

[2021-06-28 03:25] fine2006 commented on #9
I am in love with this app's design, and was trying to wrap it around through Tauri, and I want to allow the ads, what should I do?
So I think I should use the master branch right?
Also, the docker image works flawlessly

[2021-06-28 14:25] deepjyoti30 commented on #9
@fine2006 If you want to help with the ads, I don't think you can run them locally. In order for the ads to show up and the ads to earn some revenue it's important that the app runs on the domain that I have added in the configuration so locally the ads won't work.

I am not familiar with Tauri. It seems something like Electron but less bulkier?! If you want to create a distributable desktop app b

[2021-06-29 04:32] fine2006 commented on #9
basically, tauri is much lighter, so compiling it on my computer won't take a day, which is a big relief 😛
Basically I want to make it easier to use the app, and have a better (cannnot connect to server message)
In browsers you can't do that, but storing webassets (atleast partially) locally could help in much better connection issues reporting.

(And I am super excited to tinker with stuff and ma

[2021-06-30 03:47] deepjyoti30 commented on #9
@fine2006 tour sounds good. You still didn't tell me if you want to share the app with others once it's deployed? If that's the case, as I said, use the production version.

If you want to do testing, use the master branch but make sure you change the API calls to the production API and it will start working. As of ads, I don't think they will work as it is.

I think in order to add ads to the app

[2021-06-30 03:49] fine2006 commented on #9
I would love to release the code on github and even a PR if you want!

[2021-06-30 05:08] deepjyoti30 commented on #9
@fine2006 That sounds great. You can create a dedicated repo for the desktop app and I will add links to that on the current repo.

[2021-06-30 10:01] fine2006 commented on #9
I think this issue is resolved and we should close this, and create a new issue for the app :)

[2021-06-30 10:03] deepjyoti30 commented on #9
@fine2006 Sure. You can go ahead and create a new issue related to the desktop app! I'll close this issue!

[2021-06-30 10:03] #9 closed

[2021-07-01 20:26] fine2006 opened #25 "Tauri webapp"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description
Adding tauri framwork to the webapp, for an improved experience
Describe the feature
There are two ways:
1. Redirect the app to https://ytmdl.deepjyoti30.dev, and keep some backup assets bundled to show the inte

[2021-07-02 07:34] deepjyoti30 commented on #25
@fine2006 I think the second app would be a better option for a desktop app? Everything working locally would be convenient for users. Let me know if I can help you in any way!

[2021-07-02 19:07] fine2006 commented on #25
Opened up #26 :D

[2021-07-04 16:50] fine2006 commented on #25
Closing the issue as the related PR has been closed :)

[2021-07-04 16:51] #25 closed

[2021-07-04 16:56] fine2006 commented on #18
@deepjyoti30 One critique I personally have of ytmdl (that isn't super easy to solve there, but maybe possible to solve here) is:
Selecting metadata for each song is PAIN.
Could you do something like this?
1. Auto attach the metadata to all the songs in the playlist
2. Display it in a list, with thumbnail and some of the metadata
3. Allow manually searching (and editing) the metadata in the list
i

[2021-07-05 05:11] deepjyoti30 commented on #18
@fine2006 That can be a nice consideration. As of now, regarding the playlist metadata, I was aiming to use `youtube-music` api to find the song attached to the youtube video and directly search the metadata.

My idea of the playlist implementation was:

1. Accept playlist URL from the user
2. Show users a list of the songs and let them select what they want to download
3. Go for the old flow (ask

[2021-07-05 05:32] fine2006 commented on #18
I see, so grabbing correct metadata can be hard.
But as a good first draft, you could just use the first metadata result from the title search as the metadata? It would have a huge amount of errors (I'm expecting 60-70% accuracy), but I have downloaded a playlist with 200+ songs, and I can't describe enough how much of a pain it was 😬 (I was never able to complete it without getting bored 😋)

[2021-07-05 07:01] deepjyoti30 commented on #18
@fine2006 That's the issue. If you used the `ytmdl cli` you'd know this that when playlists were downloaded earlier the meta name was still asked to the user but since a recent update, the CLI also uses the `YoutubeMusic` API to get the proper song name.

Since the addition of the feature, the hit ratio for a proper song name has become something like 80% whereas earlier it was about 20% or less (

[2021-07-05 11:51] fine2006 commented on #18
Would adding the ytmusic api make it prone to rate-limiting?
Because in that case, you would have to switch to using personal api keys, which isn't something everyone is willing to do 😅

[2021-07-05 12:48] deepjyoti30 commented on #18
@fine2006 No that won't be the case. The thing is Youtube doesn't have an official public API for Youtube Music (afaik) so we're going with the unofficial [ytmusicapi](https://github.com/sigma67/ytmusicapi). So there shouldn't be any such issues like rate limiting.

[2021-07-14 15:43] deepjyoti30 commented on #24
@MDUnit64 Can you try the app now. I have switched the infrastructure a bit in the backend and it should be available way more now!

I'll close this now.

[2021-07-14 15:43] #24 closed

[2021-07-14 15:45] #8 closed

[2021-07-14 15:45] #7 closed

[2021-07-16 18:26] mizzunet opened #27 "360kbps download ability"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description

Option to choose songs quality between 128kpbs and 360kbps

[2021-07-17 05:28] deepjyoti30 commented on #27
@mizzunet By default `320kbps` is selected.

I can add option for `360kbps` however you need to know this that YouTube quality is not exactly that high and when 320kbps or 360kbps is selected that's just ffmpeg converting the youtube quality to that bitrate. This means even if you go for 360kbps it wouldn't really improve the quality of the music.

Anyhow, is there some other reason you want 360kb

[2021-07-18 12:01] mizzunet commented on #27
I downloaded a song, and it was 128kbps, maybe YT doesn't allow downloading that certain song at 360.

Well, with my earphone, it's easily differenicaible between qualities, that's why I'd like to.
:)

[2021-07-22 06:35] deepjyoti30 commented on #27
@mizzunet By default the webapp automatically downloads the song in the highest quality possible. After that if the song is supposed to be converted to a different format, then too the song is converted to the `320kbps` bitrate, however that doesn't change the quality of the audio.

Probably that's why you were able to differentiate between the qualities.

[2021-07-23 07:46] deepjyoti30 opened #28 "Manual Meta descriptions are inaccurate"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [ ] Locally
- [x] On the official page

## Browser Details

- Name: Google Chrome
- Version: (If possible)

## Console Log

[code]

## Description

In the manual metadata page, each heading has a description explaining what that field does. Th

[2021-07-23 14:16] mizzunet commented on #27
Oh, thank you for clarification. In this case this issue can be closed I guess

[2021-07-23 14:16] #27 closed

[2021-07-28 15:43] danielandastro opened #29 "No search results appear"
# Bug report

## How was Ytmdl Web run

- [x] Locally
- [ ] On the official page

## Browser Details

- Name: Edge
- Version: 92.0.902.55 (Official build) (64-bit) on Windows 11
## Console Log

[code]

## Description

When searching for a song, the loading animation appears but no results are ever fetched

## Expected Behaviour

Results load

[2021-07-30 14:24] deepjyoti30 commented on #29
@danielandastro Should be fixed!

[2021-07-31 10:42] danielandastro commented on #29
Yeah it works

[2021-07-31 10:42] #29 closed

[2021-08-02 16:30] Warfenix opened #30 "spotify metadata web support"
# Feature Request

## Checklist

- [x] I've searched the bugtracker for similar feature requests including closed ones.
- [x] I will add the enhancement label to the issue.

## Description

it would be possible to add spotify metadata provider, for example in the search metadata field, you can put the id and it will add it.

[2021-08-03 04:51] deepjyoti30 commented on #30
@Warfenix So you want the ability to enter the track ID and set the metadata from there?

I can add support for that! That would also mean adding support for itunes track ID though since the commandline version supports that as well!

[2021-08-07 13:27] Warfenix commented on #30
I would appreciate it very much if you could add it! ^^

[2021-08-24 13:21] vehosah commented on #24
i tried the web app,but the song doesn't download

[2021-08-25 13:49] vehosah opened #31 "stuck your song is ready"
# Bug report
im using the webapp,it says your song is ready but never downloads
## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run
it run fine until your song is ready
- [x] Locally
- [x] On the official page

## Browser Details
firefox 90.1
- Name: <firefox>
- Version:90.1

## Console Log

[code]

## Descript

[2021-08-25 14:18] deepjyoti30 commented on #31
@vehosah Thanks for reporting the issue. It's fixed now!

It was an API outage. Turns out all the nodes for the API were running out of space.

[2021-08-30 13:31] #31 closed

[2021-08-30 13:55] #28 closed

[2021-08-30 14:11] #23 closed

[2021-08-30 14:13] deepjyoti30 commented on #23
@aahnik Added a setting to enable jumping to manual mode directly from the search page. It will be available once the deployment is done.

You can raise a new issue if you find any issue with the feature!

[2021-08-30 14:32] #22 closed

[2021-08-30 14:32] deepjyoti30 commented on #22
@bradbus The issue is fixed in the commit mentioned. I cross checked with the song you shared as well, it's working fine!

[2021-12-16 18:39] ArmagdoGaming opened #32 "Stuck At "Your song is ready!""
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [ ] Locally
- [x] On the official page

## Browser Details

- Name: <Firefox>
- Version: Latest one.

## Console Log

[code]

## Description

After selecting/adding the metadata, the app takes me to the download page, but only shows the messag

[2021-12-18 05:53] deepjyoti30 commented on #32
@ArmagdoGaming Could you try again now?

I have added a fix and tested the web version, it's working fine. The issue was with the core `ytmdl` package which depends on `youtube-dl` for the downloads. `youtube-dl` recently released a new version that fixes a lot of issues (including the one that was breaking ytmdl).

Please consider checking the web app now, it should be fixed!

[2021-12-18 14:39] ArmagdoGaming commented on #32
@deepjyoti30 I have tried it again, and got the same error, just more stuff written in the console.
`Loading failed for the <script> with source “https://www.googletagmanager.com/gtag/js?id=UA-152084173-5”. download:11:1
Service worker has been registered. registerServiceWorker.js:14:14
Service worker event waitUntil() was passed a promise that rejected with 'TypeError: NetworkError when attemptin

[2021-12-20 23:11] ArmagdoGaming commented on #32
Works now, so I am closing this.

[2021-12-20 23:11] #32 closed

[2022-01-12 12:29] deepjyoti30 commented on #16
@aahnik This took a while but it's finally here. `youtu.be` URL's are now supported on ytmdl web. I will close this issue.

[2022-01-12 12:29] #16 closed

[2022-01-12 12:30] deepjyoti30 commented on #17
@aahnik This feature is now available on web.

This will be enabled by default but can be disabled from the settings. Do give it a try. You can report back here if there is some issue, or you can open a new one.

Closing this one.

[2022-01-12 12:30] #17 closed

[2022-02-10 16:59] lukesturgis opened #36 "set download dir"
it'd be nice if there was a way to have a data dir mounted via docker that you could have ytmdl automatically put songs in after complete, using the -o OUTPUT_DIR option. im happy to try and come up with a commit or pr if this is a desirable feature for others.

(first time creating a feature request for this repo, please lmk if i put this in the wrong spot.)

awesome tool by the way! using it all

[2022-03-14 05:30] deepjyoti30 commented on #36
@lukesturgis That is a nice feature but the docker image provided in this repo is for the web version and it utilizes `ytmdl` apis to download the song.

I don't think the files are getting downloaded to the docker image.

If this is something you'd like in the `cli` tool, I can move this issue to that repo (https://github.com/deepjyoti30/ytmdl)

[2022-03-20 17:03] HundredYearsSolitude commented on #32
![image](https://user-images.githubusercontent.com/97599346/159173736-08f55adc-179e-4585-a7e7-ca625f203cd7.png)
i just faced this problem on the website.
browser: ungoogled-chromium (flatpak build)

got these in console
---
www.googletagmanager.com/gtag/js?id=UA-152084173-5:1          Failed to load resource: net::ERR_BLOCKED_BY_CLIENT
registerServiceWorker.js:14 Service worker has been registered

[2022-03-24 11:13] deepjyoti30 commented on #32
@HundredYearsSolitude Are you still facing this?

It's a common error that happens with some songs (possibly because ytmdl is unable to dw those songs due to some reason)

[2022-04-11 18:39] veillax1354 opened #49 "3 problems found with the V2 Wepp Application of ytmdl"
# Bug report

## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.

## How was Ytmdl Web run

- [ ] Locally
- [x] On the official page

## Browser Details

- Name: <Chrome>
- Version: Version 101.0.4951.26 (Official Build) beta (64-bit)

## Console Log

[code]

## Description

3 problems were found while using the V2 Web App version of y

[2022-04-11 18:40] Veillax135 commented on #49
I could not find a console log from my browser at the time.

[2022-04-20 08:29] lupus0802 commented on #49
For me the page gets stuck too.
When I use a link on "Extracting title"
When I use a string on "Getting your song ready"

Perhaps the API Key isn't working any, or something like that?

[2022-05-05 18:13] deepjyoti30 commented on #49
Thanks for the issue. I am aware of this happening at times for a few songs. I have recently updated the API to start using the latest version of ytmdl, please consider testing out the website now and report back here if you still face the same issue.

Also, exact song names that failed would be helpful to debug the issue.

[2022-05-05 19:01] lupus0802 commented on #49
Hey, searching for the song by name has worked now, however I'm stuck on [https://ytmdl.deepjyoti30.dev/metadata?videoId=UstE6yTlwcU&query=Dear%20Brave%20kano](https://ytmdl.deepjyoti30.dev/metadata?videoId=UstE6yTlwcU&query=Dear%20Brave%20kano) now. (I selected the song for testing purposes)

[2022-05-05 19:03] lupus0802 commented on #49
Using the [URL](https://www.youtube.com/watch?v=UstE6yTlwcU) directly doesn't work either, I believe it is stuck at getting the metadata.

[2022-05-08 00:09] jlnhlfan commented on #49
On my end, this is happening as well; it's stuck on "Your song is ready", but no download link.

[2022-05-09 12:37] deepjyoti30 commented on #49
@lupus0802 For the query term, it seems there are no searches found. Could you try with another term?

[2022-05-10 05:42] MmeK commented on #49
The page getting stuck on "your song is ready" happens for me as well. Checking the network requests it seems that the POST request to this endpoint: https://apis.deepjyoti30.dev/v2/ytmdl/download returns a 400 status code with the message "Seems like the video ID passed is not valid."
This is the url of the video: https://www.youtube.com/watch?v=tvTRZJ-4EyI
In the payload section of the request v

[2022-05-10 05:46] jlnhlfan commented on #49
Going to that first link brings up a "Method Not Allowed" error on my end.

[2022-06-11 10:09] Devnol commented on #49
Can confirm same happens to me as well, searched Sweet Child o' Mine by name and by url, "Your song is Ready!" appears but no button or anything.
OS: macOS 12.4
Browser: Firefox, uBlock installed but disabled (I somehow still don't get ads), same with Enhanced tracking protection
Network tab shows a 400 Bad request with "Seems like the video ID passed is not valid." as a response.

[2022-07-10 05:22] deepjyoti30 commented on #49
Apologies for the delayed response everyone, the issue is fixed now. I finally got some time to dig around the logs and figure out what was wrong with the download process.

It is fixed now, I just tested the latest deployed version, you guys can test it out and let me know if anything seems off.

@Veillax135 @Devnol @jlnhlfan @MmeK @lupus0802

[2022-08-23 19:51] KelvinMvungi opened #55 ""Getting the song ready for you" loading for too long"
# Bug report

## Checklist

## How was Ytmdl Web run
[-] [On the official page

## Browser Details

- Name: < Brave>
- Version: (1.42.97)

## Console Log
DevTools failed to load source map: Could not load content for https://ytmdl.deepjyoti30.dev/js/chunk-1ec7a5f6.7343065e.js.map: Load canceled due to load timeout

## Description
The page when I paste the link from youtube is loading for too long

[2022-09-01 18:54] thaynos opened #56 "Add more tags"
Adding more tags would make finding this repo way ezier, this is a very minor thing but i think adding more wud give more exposure, for example when i searched “music download” this did not show up at all. Or maybe is it that you dont want to be found?

[2022-09-10 14:53] deepjyoti30 commented on #56
@thaynos Thanks for the suggestion. I would like to get this repo more exposure. I'll add some more tags (that I can think of). Do share the tags that you think we can add to this repo.

[2022-09-10 15:18] thaynos commented on #56
music download
online music
online download
spotify download
free music
free music download

[2022-09-15 15:37] #56 closed

[2022-10-29 15:01] EAGBCD opened #59 "The application does not work for long songs. It just says getting it ready forever."
# Bug report
The application does not work for long songs. It just says getting it ready forever.
## Checklist

- [x] I have searched for similar bugs in the issues.
- [x] I will add the bug label to this issue.
ok

## How was Ytmdl Web run

- [ ] Locally
- [x] On the official page Yes on the official website

## Browser Details

- Name: <> Tried safari and Crome, and tried with a vpn as well
- Ve

[2022-10-29 15:50] deepjyoti30 commented on #59
@EAGBCD Can you share some example song names that are long and match the above criteria you mentioned?

Would be helpful for debugging.

[2022-10-29 16:02] EAGBCD commented on #59
Sure and thanks for the response.

You can input the title ' James Blake | NPR MUSIC FRONT ROW ' and its the first result

or use the link

https://youtu.be/j4qfT2dxU6E

I have given it a long while on multiple browsers and on multiple days, and like I said tried a vpn as well.

I suppose I haven't let it sit for hours but I doubt it is supposed to take that long.

Thank you again.

[2022-10-29 16:07] deepjyoti30 commented on #59
Just to confirm, after you enter the youtube URL, it shows you metadata options for selection?

It's the last stage where it gets stuck, is that correct?

[2022-10-29 17:05] EAGBCD commented on #59
Sorta, depends on the settings. If you have it where it tries to do the metadata itself you click the video and then it gets stuck at the getting ready part. Then, if you turn all that off and do the metadata manually, you can do all that, but then it gets stuck again at the same getting it ready stage.